body{
	background-color: #647295;
}

iframe {
	width: 450;
	height: 400;
}

.positionAdminName {
	border: 10px;
	width: 330px;
	margin: 100px auto auto auto;
	text-align: center;
	
}

.landingPageButton {
	margin-top: 1%;
	margin-right: 10%;
	float: right;
	font-size: 15px;
	height: 50px;
	width: 100px;
	display: inline;
	max-width: 500px;
}

.titleBorder {
	float: left; 
	margin-left: 5%;
	margin-top: 40px;
	display: inline;
	position: absolute;
}


.Data {
 	margin-top: 60px;
	margin-left: 5%;
	border: 5px solid blue;
	width: 450px;
	height: 400px;
	/*text-align: center;*/
}

.AddButton {
	margin-top: 130px;
	margin-left:550px;
	position: absolute;
	font-size: 15px;
	height: 40px;
	width: 90px;
}
.width00shell {
	width:100px;
}
.UserNamelabel {
	margin-left: 5%;
	
}

.WarningLabel {
	margin-left:35%;
	font-size: 10px;
	color:red;
}
.SelectionAreaUsers {
	border: 5px ;
	margin-left:5%;

}
.UpdateButtons	{
	margin-left:20%;
	font-size: 15px;
	height: 40px;
	width: 90px;
}
.DeleteButtons {
	margin-left:20%;
	font-size: 15px;
	height: 40px;
	width: 90px;
}

.ControlsComplainsArticle {
	margin-left:5%;
	margin-bottom:10%;
}

.warningLabelComArt {
	font-size: 10px;
	color:red;
}

.ButtonDelComplArt {
	margin-top:2%;
	font-size: 15px;
	height: 40px;
	width: 90px;
}

.ButtonUpComplArt {
	margin-top:2%;
	margin-left:10%;
	font-size: 15px;
	height: 40px;
	width: 90px;
}


