.headerCreateAccount {
	padding-top: 10px;
	padding-bottom:15px;
	text-align: center;
}

.gridcontainer {
	display: grid;
	margin:auto;
	width: 70%;
	grid-template-rows: 45px 45px 45px 80px;
	grid-template-columns:50% 50%;
	font-size:110%;
	padding-top:40px;
	max-width:700px;
	min-width:600px;
}

.top {
	padding-top:10px;
}

.leftposition {
	float:left;
	padding-left: 30%;
}

.warninglabel {
	font-size:60%;
	color:red;
	position:absolute;
}

.rightposition2items {
	padding-left: 1%;
}

.email {
	padding-top:20px;
}

.buttonposition {
	padding-left:41%;
	padding-top:35px;
	grid-column:1 / span 2;
	grid-row:4;
}

.ButtonCreate {
	font-size: 90%;
	height: 150%;
	width: 25%;
	max-height:50px;
	min-width:80px;
}
