.headerCreateAccount {
	padding-top: 10px;
	padding-bottom:15px;
	text-align: center;
}

.gridcontainer {
	display: grid;
	margin:auto;
	width: 70%;
	grid-template-rows: 45px 45px 45px 80px;
	grid-template-columns:50% 50%;
	font-size:110%;
	padding-top:40px;
	max-width:700px;
	min-width:600px;
}

.gridcontainer input[type=text], input[type=password]{
	padding: 5px;
	border: 2px solid rgb(189, 189, 189);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

.top {
	padding-top:10px;
}

.leftposition {
	float:left;
	padding-left: 30%;
}

.warninglabel {
	font-size:60%;
	color:red;
	position:absolute;
}

.rightposition2items {
	padding-left: 1%;
}

.email {
	padding-top:20px;
}

.buttonposition {
	padding-left:45%;
	grid-column:1 / span 2;
	grid-row:4;
}

.ButtonCreate {
	font-size: 110%;
	height: 50px;
	width: 80px;
	max-height:50px;
	min-width:80px;
	border-radius: 10%;
	padding: 10px;
}

.ButtonCreate:hover {
	cursor: pointer;
}
