.landing-page-header{
    margin-top: 1.2em;
    margin-bottom: 1.5em;
    display: grid;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    place-items: center;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.text p{
    border: 2px solid #647295;
    padding: .5em;
    text-align: center;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
    border-radius: 5px;
}

.posts{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.PVB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.postL{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

