.headerlogin {
	padding-top: 2%;
	padding-bottom:5%;
	text-align: center;
}

.gridcontainer {
	display: grid;
	margin-left:20%;
	margin-right:60%;
	width: 50%;
	grid-template-rows: 15% 15% 15%;
	grid-template-columns:50% 50%;
	font-size:100%;
	padding-top:2%;
	
}

.labelsposition {
	padding-right:5%;
	float:right;
}
.top {
	padding-top:2%;
}

.loginButtonPosition {
	grid-column: 1 / span 2;
  	grid-row: 3;
  	padding-left: 50%;
  	padding-top:7%;
}
.loginButton{
	font-size: 90%;
	height: 180%;
	width: 100px;
}

.warningLabel{
	font-size: 60%;
	color: red;
	position:absolute;
}

