.headerlogin {
	padding-top: 15px;
	padding-bottom:60px;
	text-align: center;
}

.gridcontainer {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
	padding: 10px;
}

.gridcontainer input[type=text], input[type=password]{
	padding: 5px;
	border: 2px solid rgb(189, 189, 189);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

.labelsposition {
	padding-right:5%;
	float:right;
}

.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
}

.loginButtonPosition {
	grid-column: 1 / span 2;
  	grid-row: 3;
  	padding-left: 45%;
  	padding-top:50px;
}

.loginButton{
	font-size: 100%;
	height: 40px;
	width: 100px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	border-radius: 10px;
}

.loginButton:hover{
	cursor: pointer;
}

.warningLabel{
	font-size: 60%;
	color: red;
	position:absolute;
}

