
.positionborder {
	border: 10px;
	width: 330px;
	margin: 200px auto;
}

.positionIn2Col{
	text-align: center;
}

.loginButton{
	margin-top:10px;
	font-size: 15px;
	height: 40px;
	width: 110px;
}

.warningLabel{
	text-align: center;
	font-size: 10px;
	color: red;
	
}
