#postForm {
    border: 5px solid #647295;
    padding: 1%;
    margin-left: 22%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#postBody {
    min-height: 15vh;
    min-width: 25vw;

    height: 30vh;
    width: 50vw;

    max-height: 50vh;
    max-width: 80vw;

    resize: both;
}

#postTitle {
    height: 2rem;
}

#postRegion {
    height: 2rem;
}

#formSubmitButton {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background-color: lightgray;
}

#formSubmitButton:hover{
    cursor: pointer;
    background-color: #647295;
}