.post {
    align-self: center;
    background-color: #f2ebe5;
    border: solid #647295;
    width: 95%;
    height: auto;
    padding: 10px 20px 10px 20px;
}

.user {
    padding-bottom: 5px;
    font-size: smaller;
    font-style: italic;
}

.title {
    font-size: larger;
    border-style: solid;
    border-color: #647295;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.body {
    white-space: pre-line;
    padding-top: 20px;
    padding-bottom: 20px  
}

.bigassbutton {
    vertical-align: bottom;
}