.post {
    align-self: center;
    background-color: #f2ebe5;
    border: solid #647295;
    width: 95%;
    height: auto;
    padding: 10px 20px 10px 20px;
}

.postUser {
    padding-bottom: 5px;
    font-size: smaller;
    font-style: italic;
}

.postUserLink {
    color:#9f496e;
}

.postTitle {
    font-size: larger;
    border-style: solid;
    border-color: #647295;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.postBody {
    padding-top: 20px;
    padding-bottom: 20px  
}

.postButtons {
    vertical-align: bottom;
    display: flex;
    gap: 50px;
}

.postReplyButton {
    width: auto;
}

.postViewCommentsButton {
    width: auto;
}