* {
    outline: none;
  }
  

  .profile{
    font-family: Helvetica;
    /*background-color: #f2ebe5;*/
    padding: 10px 200px;
    width: 0 auto;
    margin: 0 auto;
  }


  
  img {
    display: block;
    width: 100%;
    border: 0;
  }

  

  #profile-upper {
    position: relative;
  }
  
  #profile-i {
    position: absolute;
    left: 59px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;
  }
  
  #profile-banner-image {
    height: 360px;
    overflow: hidden;
    z-index: 1;
    align-content: center;
  }
  
  #profile-banner-image img {
    width: 100%;
    margin: auto;
  }
  
  #profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #404040
  }
  
  #profile-pic img {
    width: 100%;
    border-radius: 50%;
  }
  
  #username {
    position: absolute;
    top: 120px;
    left: 208px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px #000
  }

  #profile-post {
    padding: 5%;
  }

  #postList{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
